NEXT_PUBLIC_SITE_URL=https://eceexamguide.com
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=YOUR_GOOGLE_SEARCH_CONSOLE_META_TOKEN
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/eceexamhub?retryWrites=true&w=majority&appName=ECEExamHub
UPSTASH_REDIS_REST_URL=https://YOUR-UPSTASH-REDIS.upstash.io
UPSTASH_REDIS_REST_TOKEN=YOUR_UPSTASH_REDIS_REST_TOKEN
